.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}

.logo-top {
    color: #000;
    font-size: 80px;
    font-weight: 700;
    line-height: 94px;
}

.marker {
    color: #4BCAFF;
}

.header__nav {
    display: flex;
    justify-content: center;
    height: 70px;
    margin-top: 50px;
    background-color: #35444F;
}

.nav__items {
    font-size: 24px;
    padding: 26px 19px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.nav__items a {
    color: #fff;
}

.nav__items:hover {
    background-color: #222F3A;
    transition: 0.5s;
}

.aside__bar {
    display: flex;
    margin-top: 50px;
}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-shrink: 0;
    width: 345px;
    height: 400px;
    border: 1px solid #111;
    overflow: hidden;
}

.bar__items {
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 100%;
    font-size: 27px;
    text-align: center;
}

.bar__items a {
    color: #000;
}

.bar__items:hover {
    background-color: #DBDBDB;
    transition: 0.5s;
}

.bar__items:hover {
    font-weight: 700;
    transition: 0.1s;
}

.bar a:hover {
    transform: translate(15px);
    transition: 0.3s;
}

.container__img {
    display: flex;
    justify-content: center;
    width: 886px;
    height: 529px;
    padding: 75px 297px;
    border: 1px solid #000;
    margin-left: 50px;
    margin-bottom: 36px;
}

.main__img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.main__content {
    flex: 1 1 auto;
    font-size: 18px;
    line-height: 24px;
}

.main__info-ru {
    display: flex;
    width: 885px;
    float: right;
    margin-bottom: 36px;
}

.main__info-example {
    display: flex;
    width: 885px;
    float: right;
    margin-bottom: 36px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #63696E7A;
    font-weight: 600;
    margin-bottom: 36px;
}

.footer__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    height: 70px;
}

.footer__bar-items {
    margin-right: 30px;
    margin-left: 30px;
}

.footer__bar-items a {
    color: #000;
}

.footer__bar-items a:hover {
    color: #3181A6;
    text-decoration: underline;
}

.footer__copyright {
    font-size: 24px;
    margin-right: 30px;
}